<table class="layui-table" data-page="{$pagecount}">
	<colgroup>
		<col width="7">
		<col width="20">
		<col width="11">
		<col width="11">
		<col width="11">
		<col width="7">
		<col width="15">
		<col width="8">
		<col width="10">
	</colgroup>
	<thead>
		<tr>
			<th>编号</th>
			<th>bug摘要</th>
			<th>所属模块</th>
			<th>所属项目</th>
			<th>反馈人</th>
			<th>权重</th>
			<th>反馈时间</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<empty name="list">
			<tr><td colspan="9" style="text-align:center;">暂无数据</td></tr>
		<else/>
		<volist name="list" id="vo">
		<tr data-id="{$vo['id']}">
			<td>{$vo['id']}</td>
			<td class="details-content" data-title="{$vo['summary']}">{$vo['summary']}</td>
			<td>{$vo['modname']}</td>
			<td><if condition="($vo.codename eq '' OR $vo.codename eq null)">{$vo['pname']}<else/>{$vo['codename']}</if></td>
			<td>{$vo['fromname']}</td>
			<td>
				<switch name="vo.weight">
				<case value="1">加急</case>
				<case value="2">优先</case>
				<case value="3">严重</case>
				<case value="4">一般</case>
				<case value="5">细节</case>
				</switch>
			</td>
			<td <if condition="$vo.note neq ''"> class="mark-tips" data-title="内容有更新：{$vo['note']|date='Y-m-d H:i:s', ###}"</if>>
				{$vo['create_time']|date='Y-m-d H:i:s', ###}
			</td>
			<td>
				<switch name="vo.status">
				<case value="0">未处理</case>
				<case value="2">处理中</case>
				</switch>
			</td>
			<td>
				<a href="{:U('viewbug', array('id' => $vo['id'], 'hashpage' => $hashpage))}" title="查看"><i class="iconfont">&#xe605;</i></a>
				<eq name="vo.status" value="0">
				<a href="javascript:;" title="关闭" class="closeBtn"><i class="iconfont">&#xe609;</i></a>
				<else/>
				<a href="javascript:;" title="关闭"><i class="iconfont iconfont-disabled">&#xe609;</i></a>
				</eq>
				<a href="javascript:;" title="移交" class="change_btn"><i class="iconfont">&#xe608;</i></a>
			</td>
		</tr>
		</volist>
		</empty>
	</tbody>
</table>