<table class="layui-table" data-page="{$pagecount}">
	<colgroup>
		<col width="7">
		<col width="18">
		<col width="11">
		<col width="11">
		<col width="9">
		<col width="9">
		<col width="7">
		<col width="15">
		<col width="7">
		<col width="6">
	</colgroup>
	<thead>
		<tr>
			<th>编号</th>
			<th>bug摘要</th>
			<th>所属模块</th>
			<th>所属项目</th>
			<th>处理人</th>
			<th>反馈人</th>
			<th>权重</th>
			<th>反馈时间</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<empty name="list">
			<tr><td colspan="10" style="text-align:center;">暂无数据</td></tr>
		</empty>
		<volist name="list" id="vo">
		<tr>
			<td>{$vo['id']}</td>
			<td class="details-content" data-title="{$vo['summary']}">{$vo['summary']}</td>
			<td>{$vo['modname']}</td>
			<td><if condition="($vo.codename eq '' OR $vo.codename eq null)">{$vo['pname']}<else/>{$vo['codename']}</if> </td>
			<td <neq name="vo.toer_id" value="$vo.director_id">class="mark-tips" data-title="原负责人：{$vo['mname']}"</neq>>{$vo['toname']}</td>
			<td>{$vo['fromname']}</td>
			<td>
				<switch name="vo.weight">
				<case value="1">加急</case>
				<case value="2">优先</case>
				<case value="3">严重</case>
				<case value="4">一般</case>
				<case value="5">细节</case>
				</switch>
			</td>
			<td>{$vo['create_time']|date='Y-m-d H:i:s', ###}</td>
			<td <neq name="vo.status" value="0">class="mark-tips" data-title="处理时间：{$vo['finall_time']|date='Y-m-d H:i:s', ###}<eq name="vo.status" value="-2"><br/>关闭理由：{$vo['note']}</eq>"</neq>>
				<switch name="vo.status">
				<case value="0">未处理</case>
				<case value="1">已处理</case>
				<case value="2">处理中</case>
				<case value="-2">已关闭</case>
				</switch>
			</td>
			<td>
				<a href="{:U('viewbug', array('id' => $vo['id'], 'hashpage' => $hashpage))}" title="查看"><i class="iconfont">&#xe605;</i></a>
			</td>
		</tr>
		</volist>
	</tbody>
</table>