<table class="layui-table" data-page="{$pagecount}">
	<colgroup>
		<col width="11">
		<col width="12">
		<col width="12">
		<col width="16">
		<col width="13">
		<col width="9">
		<col width="9">
		<col width="9">
		<col width="9">
	</colgroup>
	<thead>
		<tr>
			<th>姓名</th>
			<th>职称</th>
			<th>所属部门</th>
			<th>账号</th>
			<th>电话</th>
			<th>属性</th>
			<th>级别</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<empty name="list">
			<tr><td colspan="9" style="text-align:center;">暂无数据</td></tr>
		<else/>
		<volist name="list" id="vo">
			<tr data-id="{$vo['id']}">
				<td>{$vo['name']}</td>
				<td>{$vo['job']}</td>
				<td><eq name="vo.department_id" value="0">--<else/>{$vo['dname']}</eq></td>
				<td>{$vo['login_name']}</td>
				<td><empty name="vo.cellphone">--<else/>{$vo['cellphone']}</empty></td>
				<td>
					<switch name="vo.type">
					<case value="0">管理员</case>
					<case value="1">产品</case>
					<case value="2">设计</case>
					<case value="3">开发</case>
					<case value="4">测试</case>
					<case value="5">普通</case>
					<default/>未知
					</switch>
				</td>
				<td>
					<switch name="vo.level">
					<case value="0">系统</case>
					<case value="1">一级</case>
					<case value="2">二级</case>
					<case value="3">三级</case>
					<case value="4">四级</case>
					<default/>未知
					</switch>
				</td>
				<td>
					<switch name="vo.status">
					<case value="1">正常</case>
					<case value="-2">冻结</case>
					<default/>异常
					</switch>
				</td>
				<td>
					<a href="{:U('details', array('id' => $vo['id'], 'hashpage' => $hashpage))}" title="修改" class="modify"><i class="iconfont">&#xe606;</i></a>
					<a href="javascript:;" title="删除" class="delete_btn"><i class="iconfont">&#xe639;</i></a>
				</td>
			</tr>
		</volist>
		</empty>
	</tbody>
</table>